body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.error{

    color:red;
}
.form-group input.error, .form-group textarea.error {
border-bottom: 1px solid #f55753 !important;}
.form-group label.error {
    display: inline-block;
    position: absolute;
    border-top: 1px solid #fb3f3d;
    z-index: 999999;
    width: 100%;
    left: 0;
    height: 1px;
    color: transparent !important;
    bottom: 0;}

.form-group select.error + span {display:none !important;
}