<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block text-center">
                <h6 class="text-bold">Justified Tabs</h6>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet
                        aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum
                        porta. Vivamus suscipit tortor eget felis porttitor volutpat.
                    </div>
                    <div class="tab-pane" id="profile1" role="tabpanel">
                        Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar
                        a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                        Donec sollicitudin molestie malesuada.
                    </div>
                    <div class="tab-pane" id="messages1" role="tabpanel">
                        Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vivamus
                        magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit
                        nisi, pretium ut lacinia in, elementum id enim.
                        <br /> Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies
                        ligula sed magna dictum porta.
                    </div>
                    <div class="tab-pane" id="settings1" role="tabpanel">
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis
                        quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in
                        ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit
                        amet aliquam vel, ullamcorper sit amet ligula.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>